.current-weather {
  position: absolute;
  top: 20%;
  height: 75vh;
  width: 95%;
  border-radius: 20px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  background: rgba(8, 8, 8, 0.329);
}
.current-weather > div {
  margin: 20px;
  letter-spacing: 2px;
  line-height: 40px;
}

.current-weather-header {
  display: flex;
  justify-content: space-between;
}
.current-weather-header-units {
  display: flex;
}
.current-weather-header-degrees {
  padding: 7px;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
  height: fit-content;
  border-radius: 10px;
  transition: 300ms;
  &:hover {
    background-color: rgba(226, 43, 211, 0.301);
    transition: 300ms;
  }
  &.active {
    background-color: rgba(226, 43, 211, 0.301);
  }
}

.current-weather-header-units > h2 {
  padding: 7px;
  transform: translateX(3px);
  font-size: 2rem;
}

.current-weather-conditions {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 50px;
  &-temperature {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  &-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.forecast-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 50px;
}
