.forecast-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px 0 20px 0;
}
